
.inputs {
	grid-column: 1;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: start;
	gap: 20px;
	text-align: center;
	border: 2px solid var(--borders);
	border-radius: 10px;
}

.inputs__header {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.inputs__header h2 {	
	height: 40px;
}

.inputs__helpbtn {
	width: 150px;
}

.inputs__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 10px;
}

.inputs__row {
	width: 360px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.inputs__col-labels {
	display: flex;	
	width: 200px;
	text-align: center;
	justify-content: center;
}

.inputs__col-inputs {
	display: flex;
	justify-content: space-around;
	width: 130px;
}

.inputs__col-inputs > div {
	display: flex;
	gap: 8px;
}

input[type="date"] {
	text-align: center;
}
input[type="radio"] {
	accent-color: var(--reset-btn);
}

.inputs__helpbtn {
	box-shadow: 1px 1px 0px 0px var(--borders);
	background-color: var(--corp-accent);
	border: 1px solid var(--corp-accent);
	border-radius: 4px;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 17px;
	padding: 8px 20px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #2f6627;
}
.inputs__helpbtn:hover {
	background-color: #5cbf2a;
}
.inputs__helpbtn:active {
	position: relative;
	top: 1px;
}

.inputs__resetbtn {
	width: 120px;
	align-self: center;
	box-shadow: 1px 1px 0px 0px var(--borders);
	background-color: var(--reset-btn);
	border: 1px solid var(--reset-btn);
	border-radius: 4px;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	padding: 8px 10px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #2f6627;
}
.inputs__resetbtn:hover {
	background-color: var(--reset-btn-hover);
}
.inputs__resetbtn:active {
	position: relative;
	top: 1px;
}
